body {
    background-color: black;
    font-family: monospace;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.calc-body {
    border: 2px solid white;
    width: 320px;
    border-radius: 10px;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.expression {
    border: 2px solid white;
    border-radius: 5px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
    font-size: 24px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    background-color: black;
    border: 2px solid white;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 0;
    transition: 0.1s;
}

button:hover {
    background-color: white;
    color: black;
}
